.select-sale-type {
    box-sizing: border-box;
    padding: 0 0 14px 0;
    display: flex;
    margin-bottom: 13px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #E4E4E4;
  }
  
  .select-sale-type .break-line {
    display: none;
  }
  
  .select-sale-type .item-img {
    max-width: 80px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 16px;
  }
  
  .select-sale-type .item-img img {
    width: 100%;
  }
  
  .select-sale-type .items-detail {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .select-sale-type .items-detail .item-information {
    word-wrap: break-word;
  }
  
  .select-sale-type .items-detail .item-information .item-name {
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #282828;
    margin: 0;
  }
  
  .select-sale-type .items-detail .item-information .item-price {
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    text-transform: capitalize;
    color: #282828;
    margin-right: 8px;
    margin: 8px 8px 0 0 ;
  }
  
  .select-sale-type .items-detail .item-information .item-old-price {
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.01em;
    text-decoration-line: line-through;
    color: #282828;
    margin-right: 8px;
  }
  
  .select-sale-type .items-detail .item-information .item-sale-percent {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #282828;
  }
  
  @media (max-width: 380px) {
  
    .select-sale-type .break-line {
      display: block;
    }
  
    .select-sale-type .item-img {
      align-items: flex-start;
    }
  }
  