// @import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,500;0,600;0,700;1,400;1,500;1,600&display=swap');

@mixin fontCustomExo($fontSize, $lineHeight, $fontWeight,$letterSpacing:"initial") {
    font-family: "Exo",sans-serif;
    font-style: normal;
    font-size: $fontSize;
    line-height: $lineHeight;
    font-weight: $fontWeight;
    letter-spacing: $letterSpacing;
  }

  @mixin fontCustomRoboto($fontSize, $lineHeight, $fontWeight,$letterSpacing:"initial") {
    font-family: "Roboto",sans-serif;
    font-style: normal;
    font-size: $fontSize;
    line-height: $lineHeight;
    font-weight: $fontWeight;
    letter-spacing: $letterSpacing;
  }

  @mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @mixin content_1280 {
   max-width: 1280px;
   margin: 0 auto;
   @media (max-width:1300px) {
    margin: 0 25px;
   }
  }

  $text-title :  #282828;
  $text-heading : #1E24C0;
  $text-content : #000000;
  $bg-white : #ffffff;
  $bg-gray: #C1C1C1;

.about-page {
    h2 {
        @include fontCustomExo(40px,46px,400,0.04em);
       color: $text-heading;
        @media (max-width:1024px) {
          @include fontCustomExo(32px,46px,400,0.04em);
        }
    }
    h3 {
        @include fontCustomExo(32px,46px,400,0.04em);
       color: $text-heading;
        @media (max-width:1024px) {
          @include fontCustomExo(24px,28.13px,400);
        }
    }
    h4 {
      @include fontCustomRoboto(24px,28.13px,600);
      @media (max-width:1024px) {
        @include fontCustomExo(20px,23.13px,600);
      }
    }
    p {
        @include fontCustomRoboto(16px,18px,400,0.01em);
        color: $text-content;
    }

    img {
      width: 100%;
      height: auto;
    }

    &_intro {
      @include  content_1280();
      background-color: $bg-white ;
      h2 {
        text-align: center;
        margin-top: 64px;
        margin-bottom: 120px;
      }
      &__content {
        margin-bottom: 179px;
        @include center();
        justify-content: space-between;
        &___img {
          width: 50%;
        }
        &___text {
          width: 50%;
          padding-left: 150px;
          .content-top {
            margin-bottom: 30px;
          }
          h3 {
            margin-bottom: 20px;
          }
        }
      }
    }
    .business-model {
      @include  content_1280();
      background-color: $bg-white ;
      &_content {
        h3 {
          margin-top: 40px;
          margin-bottom: 20px;
        }
        &__row {
          margin-bottom: 180px;
          display: grid;
          gap: 20px;
          grid-template-columns: repeat(3, 1fr);
          &___col {
            h4 {
              // @include textLimit(2);
              
              color: $text-title ;
              text-transform: capitalize;
              margin-bottom: 8px;
            }
          }
        }
      }
    }
    .benefits-top {
      @include  content_1280();
      background-color: $bg-white ;
      h3 {
        text-align: center;
        margin-top: 60px;
        margin-bottom: 65px;
      }
      .lst-benefit {
        max-width: 1024px;
        margin : 0 auto;
        display: grid;
        gap: 60px;
        grid-template-columns: repeat(3, 1fr);
        .benefit {
          text-align: center;
          h4 {
            color: $text-title;
            text-transform: capitalize;
            margin-top: 24px;
            margin-bottom: 8px;
          }
          .benefit_stt {
            border: 4px solid #1E24C0;
            border-radius: 50%;
            font-weight: bold;
            width: 80px;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
          }
        }
      }
    }
    .benifits-bottom {
      @include  content_1280();
      background-color: $bg-white ;
      &_content {
        margin-top: 120px;
        margin-bottom: 140px;
        display: grid;
        gap: 25px;
        grid-template-columns: repeat(2, 1fr);
        .item {
          display: flex;
          align-items: flex-start;
          img {
            width: 100px;
            height: 100px;
            margin-right: 31.62px;
          }
          h2 {
            margin-bottom: 8px;
          }
        }
      }
    }
    .join-the-purchasing {
      @include  content_1280();
      background-color: $bg-white ;
      padding-top: 60px;
      padding-bottom: 100px;
      text-align: center;
      p {
        display: inline-block;
        max-width: 756px;
        margin-bottom: 48px;
        height: 54px;
      }
      h3 {
        margin-bottom: 8px;
      }
      .lst-step {
        display: grid;
        gap: 24px;
        grid-template-columns: repeat(4, 1fr);
      
        .step-item {
          text-align: center;
        }
      }

    }
    .impressive-business-numbers {
      padding-top: 111px;
      padding-bottom: 119px;
      @include  content_1280();
      background-color: $bg-white ;
      display: grid;
      gap: 21px;
      grid-template-columns: repeat(2, 1fr);
      &_item {
        background: #FFFFFF;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        padding: 24px;
        h4 {
          color: $text-heading;
          text-transform: capitalize;
          margin-bottom: 20px
          // margin-top: 24px;
          // margin-bottom: 8px;
        }
        ul > li {
          @include fontCustomRoboto(16px,18px,400,0.01em);
          color: $text-content;
          margin-bottom: 20px
          
        }
        ul > li:last-child {
          margin-bottom: 0
        }
      }
    }
    .partner {
      max-width: 1540px;
      margin: 0 auto;
      @media (max-width:1700px) {
        max-width: 1300px;
      }
      @media (max-width:1550px) {
        max-width: 1150px;
      }
      @media (max-width:1350px) {
        max-width: 992px;
      }
      @media (max-width:1200px) {
        max-width: 768px;
      }
      @media (max-width:992px) {
        padding: 0 25px;
        max-width: 400px;
      }
      .slide-content {
        display: grid !important;
        grid-template-columns: repeat(5, 1fr); 
        outline: none;
        gap: 56px 76px;
        max-width: 1540px;
        margin: 0 auto;
        img {
          height: 90px;
          object-fit: contain;
        }
        @media (max-width:1800px) {
          gap: 40px 40px;
          // max-width: 1440px;
        }
        @media (max-width:1700px) {
          gap: 20px 20px;
        }
        @media (max-width:1350px) {
          img {
            height: 50px;
          }
        }
        @media (max-width:992px) {
          grid-template-columns: repeat(4, 1fr);
          gap: 10px 20px;
          img {
            height: auto;
          }
        }
        @media (max-width:600px) {
          grid-template-columns: repeat(3, 1fr);
        }
      }
      .slick-prev:before, .slick-next:before {
        display: none;
        }
      .slick-prev  {
        width: 64px;
        height: 64px;
        left: -80px;
      } 
      .slick-next  {
        width: 64px;
        height: 64px;
        right: -80px;
      }
      img[alt="icon-arow"] {
        width: 62px;
        height: 62px;
      }
    }
}


//RESPONSIVE
@media (max-width:1440px) {
  .about-page_intro h2 {
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .about-page_intro__content {
    margin-bottom:70px;
  }
  .about-page_intro__content___text {
    padding-left: 50px;
  }
  .about-page .business-model_content__row {
    margin-bottom: 50px;
  }
  .about-page .benefits-top h3 {
    margin : 30px 0;
  }
  .about-page .benifits-bottom_content .item img {
    width: 70px;
    height: 70px;
  }
  .about-page .benifits-bottom_content {
    margin: 40px 0;
  }
  .about-page .join-the-purchasing {
    padding-bottom: 30px;
  }
  .impressive-business-numbers {
    padding: 40px 0;
  }
}

@media (max-width:992px) { 
  .about-page .benifits-bottom_content .item {
    align-items: flex-start;
  }
  .about-page .benifits-bottom_content .item h2 {
    @include fontCustomExo(20px,23.13px,400);
  }
}

@media (max-width:600px) { 
  .about-page_intro__content {
    flex-direction: column;
    &___img {
      width: 100%;
    }
    &___text {
      width: 100%;
      padding-left:0;
      .content-top {
        margin-top: 20px;
      }
    }
  }
  .about-page .business-model_content__row {
    grid-template-columns: repeat(1, 1fr);
  }
  .about-page .benefits-top .lst-benefit {
    grid-template-columns: repeat(1, 1fr);
  }
  .about-page .benifits-bottom_content {
    grid-template-columns: repeat(1, 1fr); 
    .item {
      flex-direction: column;
      align-items: center;
      .item-right {
        margin-top: 20px;
        text-align: center;
      }
    }
  }
  .about-page .join-the-purchasing .lst-step {
    grid-template-columns: repeat(1, 1fr);
  }
  .about-page .join-the-purchasing p {
    margin-bottom: 20px;
    height: auto;
  }
  .about-page .impressive-business-numbers {
    grid-template-columns: repeat(1, 1fr);
  }
}
