.account {
  width: 100%;
  padding: 60px 190px;
  box-sizing: border-box;
  background-color: #FAFAFA;
  display: flex;
  justify-content: space-between;

  .account-menu {
    width: 24.026%;
    height: auto;
  }

  .account-content {
    max-width: 1150px;
    width: 76%;
    height: auto;
    background: #FFFFFF;
    border-radius: 8px;
  }
}
