.product-card{
    padding: 16px 12px 9px;
    gap: 8px;
    width: 270px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 8px;
}
.product-top{
    display: flex;
    margin-bottom: 8px;
}
.button-sale{
    margin-right: 9px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    border: 1px solid #1E24C0;
    border-radius: 4px;
    color: #1E24C0;
}
.product-image{
    width: 270px;
    height: 193px;
    margin-bottom: 8px;
}
.product-name{
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: #282828;
    margin-bottom: 8px;
    text-align: start;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.price-left{
    display: flex;
    height: 20px;
    width: auto;
}
.product-price-sale{
    height: 20px;
    margin-bottom: 8px;
    align-items: center;
}
.price-sale{
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.04em;
    text-decoration-line: line-through;
    color: #818181;
    margin: 0px;
    margin-right: 23px;
}
.sale-percent{
    margin: 0px;
    width: 48px;
    height: 20px;
    background: #F24D4D;
    border-radius: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}