._button {
  .btn {
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 16.5px 16px;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    min-width: 240px;
    transition: opacity 0.2s ease;
    user-select: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    border: 3px solid #1E24C0;
    letter-spacing: 0.02em;
    &-primary{
      background-color: #1E24C0;
      color: #FFFFFF;
      &:hover{
        border: 3px solid #1E24C0;
        background-color: #F7F7F7;
        color: #1E24C0;
      }
      &:active{
        box-shadow: 0px 2px 15px rgba(1, 6, 143, 0.4);
        border: 3px solid transparent;
        background-color: #F7F7F7;
        color: #1E24C0;
      }
    }
    
    &-secondary{
      background-color: #FFFFFF;
      color: #1E24C0;
    }
    
    &-tertiary{
      border: 3px solid #FFFFFF;
      background-color: #FFFFFF;
      color: #1E24C0;
    }
    &--disabled{
      opacity: 0.5 !important;
      pointer-events: none;
    }
    
  }

}