
  
  ._modal-signin{
    overflow: hidden;
      .btn-close-signin {
        display: none;
        border-radius: 50%;
        color: rgb(76, 73, 73);
        float: right;
        font-size: 30px;
      }
      .modal {
        display: none;
        position: fixed;
        z-index: 999;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.9);
      }
      
      .modal-content {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        margin: auto;
        max-width: 612px;
        width: 100%;
        background-color: #FFFFFF;
        max-height: 646px;
        height: 100%;
        padding: 34.75px 115px 47px 116px;
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
        animation-name: modalopen;
        animation-duration: 1s;
        .modal-header{
          display: flex;
          flex-direction: column;
          align-items: center;
          p{
            font-family: "Exo";
            font-size: 32px;
            line-height: 46px;
            color: #1E24C0;
          }
         
          span{
            margin-top: 3.68px;
            font-size: 12px;
            color: #707070;
            text-align: center;
          }
        }
        .modal-body{
          margin-top: 24px;
          .btn-get-otp{
            margin-top: 24px;
            width: 100%;
            padding-top: 17px ;
            padding-bottom: 17px;
          }
          .btn-login{
            margin-top: 24px;
            width: 100%;
            padding-top: 17px ;
            padding-bottom: 17px;
          }
          .input-type-otp{
            margin-top: 24px;
          }
          .term-info{
            margin-top: 24px;
            display: flex;
          }
          .term{
            margin-left: 7px;
            display: block;
            font-size: 12px;
            color: #707070;
            font-family: 'Roboto';
            font-weight: 400;
            letter-spacing: 0.01em;
          }
          h2 {
            width: 100%; 
            text-align: center; 
            border-bottom: 1px solid #C4C4C4;
            line-height: 0.1em;
            margin: 10px 0 20px; 
            color: #707070;
         } 
         
         h2 span { 
             background:#fff; 
             padding:0 10px; 
         }

        
        }
        .modal-footer{
          margin-top: 24px;
          display: flex;
          justify-content: space-around;
          img{
            width: 78px;
            height: 78px;
          }
         }
      }
      
   
      @keyframes modalopen {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }

      @media screen and (max-width: 900px){
        .btn-close-signin {
          display: block;
        }
        .modal-content {
          padding:15px;
        }

      }
      
  }
  