@font-face {
    font-family: "Exo";
    src: url("../fonts/Exo/Exo-Light.ttf");
    font-weight:300;
}

@font-face {
    font-family: "Exo";
    src: url("../fonts/Exo/Exo-Regular.ttf");
    font-weight:400;
}

@font-face {
    font-family: "Exo";
    src: url("../fonts/Exo/Exo-Medium.ttf");
    font-weight:500
}

@font-face {
    font-family: "Exo";
    src: url("../fonts/Exo/Exo-SemiBold.ttf");
    font-weight:600
}

@font-face {
    font-family: "Exo";
    src: url("../fonts/Exo/Exo-Bold.ttf");
    font-weight:700
}

@font-face {
    font-family: "Exo";
    src: url("../fonts/Exo/Exo-ExtraBold.ttf");
    font-weight:800
}

@font-face {
    font-family: "Exo";
    src: url("../fonts/Exo/Exo-Black.ttf");
    font-weight:900
}

// Roboto

@font-face {
    font-family: "Roboto";
    src: url( "../fonts/Roboto/Roboto-Light.ttf");
    font-weight:300
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
    font-weight:400
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Medium.ttf");
    font-weight:500
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Bold.ttf");
    font-weight:700
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Black.ttf");
    font-weight:900
}
