.bg-order {
  background: #c1c1c1;
}
.order-detail {
  max-width: 1540px;
  padding-bottom: 50px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  &--title {
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    line-height: 46px;
    letter-spacing: 0.04em;
    color: #282828;
    padding: 80px 0 40px;
  }
  &--input {
    font-weight: 600;
    font-size: 20px;
    background: #f7fff9;
    border: 2px solid #166b29;
    border-radius: 8px;
    padding: 20px 40px;
    margin-bottom: 16px;
    &__text {
      color: #24b065;
    }
  }
  &--single {
    background: #ffffff;
    border-radius: 8px;
    margin-bottom: 16px;
    padding: 20px 0;
    .single-content {
      margin: 0 40px;
      padding-bottom: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 4px 0;
      border-bottom: 1px solid #c4c4c4;
    }
    .single-title {
      font-weight: 400;
      font-size: 16px;
      letter-spacing: 0.01em;
      color: #282828;
    }
    .single-number {
      font-weight: 600;
      font-size: 24px;
      text-transform: capitalize;
      color: #1e24c0;
    }
    .single-watch {
      font-weight: 400;
      font-size: 14px;
      font-style: italic;
      color: #818181;
      text-transform: capitalize;
      text-decoration: underline;
    }
    .single-time {
      text-align: center;
      font-weight: 400;
      font-size: 16px;
      letter-spacing: 0.04em;
      color: #282828;
      padding-top: 16px;
    }
  }
  &--evaluate {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #ffffff;
    border-radius: 8px;
    padding: 20px 0;
    margin-bottom: 50px;
    cursor: pointer;
    .evaluate-text {
      font-weight: 400;
      font-size: 16px;
      color: #282828;
      margin-bottom: 23px;
    }
    .evaluate-select {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0 75px;
      &--vote {
        text-align: center;
        &__img {
          width: 67px;
          height: 67px;
          margin: 0 auto;
          margin-bottom: 15px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        &__text {
          font-weight: 600;
          font-size: 16px;
          text-align: center;
          letter-spacing: 0.04em;
          text-transform: capitalize;
        }
        .text-satisfied {
          color: #64c77a;
        }
        .text-notsatisfied {
          color: #404040;
        }
      }
    }
  }
}

// Reponsive

@media screen and (min-width: 1440px) and (max-width: 1920px) {
  .order-detail {
    padding: 0;
  }
}

@media screen and (max-width: 428px) {
  .order-detail {
    padding: 0 15px 68px;
    &--title {
      text-align: left;
      padding: 28px 15px;
      font-family: "Exo", sans-serif;
      font-weight: 400;
      font-size: 32px;
      line-height: 46px;
      letter-spacing: 0.04em;
    }
    &--input {
      text-transform: capitalize;
    }
    &--single {
      .single-time {
        max-width: 299px;
        margin: 0 auto;
      }
    }
  }
}
